* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E5D9F2;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: #A594F9;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background-color: #D2E0FB;
    z-index: 1000;
    border-bottom: 1px solid #A594F9;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #A594F9;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #A594F9;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #7B66FF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #00A9FF;
    text-decoration: none;
}

a.tbl-pink {
    background: #A0DEFF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #006BFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3FA2F6;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.portfolio-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.recap-design {
    width: 20%;
    margin: 0 auto;
}

.recap-design img {
    width: 80%;
    border-radius: 0;
}

.recap-design p {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #A594F9;
}

#contact {
    background: #D2E0FB ;
    padding: 50px 0px 50px 0px;
    border-top: 1px solid #A594F9;
    border-bottom: 1px solid #A594F9;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.footer-section h3 {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 22px;
    color: #000;
}

.h3 {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 50px;
    color: #D2E0FB;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 14px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        list-style: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .portfolio-list img {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .footer-section {
        padding: 10px;
    }
    .footer-section h3 {
        font-size: 1.2em;
    }
    .footer-section p {
        font-size: 0.85em;
    }
}